html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151F;
  color: #ffff

}


a {
  color: inherit;
  text-decoration: none;
}

.app{
  margin: 20px;
}

.main-video{
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  position:relative;
  margin-bottom: 50px;
}

.card{
  width: 20%;
  height: auto;
  border-radius: 5%;
  margin: 5px;
  filter: drop-shadow(5px 5px 10px #000)
}
